*{
    margin: 0;
    padding: 0;
}
.brand-img-size{
    width: 50px;
    height: 50px;
}

.Board-Tab{
    margin-bottom: 3em;
    border-bottom : 1px solid #ccc;
}
.display-inline-block{
    display: inline-block;
}
.thumbnail > a{
    text-decoration: none;
}
section > .container > .row > div{
    margin-bottom: 5em;
}
.WriteBoad{
    margin-bottom: 2em;
}
.page-setting{
    color:#ccc;
}
.thumbnail-Detail{
    color:black;
}
.form-control{
    height: 5%;
    text-align: center;
}