a {
    text-decoration: none;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
}

#wrap {
    width: 100%;
    margin-top: 60px;
}

header {
    padding: 0 10% 0 10%;
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    z-index: 2000;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
    background: white;
}

.sect_div_img > img {
    width: 100%;
    margin-bottom: 5px;
    border-radius: 5px;
    height: 60%;
}

.logo {
    display: inline-block;
    height: 36px;
    float: left;
}

.logo > img {
    margin-left: 23px;
    height: 50px;
    width: 30px;
    margin-top: 12px;
}

header > nav {
    float: right;
}

.Inside_list {
    list-style: none;
    font-size: 20px;

}


.now-a-pick {
    box-shadow: 0 -6px rgba(75, 112, 253, 0.3) inset;
    color: black;
}

.nav-items {
    margin-right: 20px;
    margin-top: 12px;
}

.nav-items > li {
    display: inline-block; /* 가로정렬 */
}

.nav-items > li > a {
    line-height: 60px; /* for Vertical Centering */
    padding: 0 30px; /* nav item간 간격 */
    color: rgba(0, 0, 0, 0.4);
}

.nav-items > li > a:hover {
    color: rgba(0, 0, 0, 0.8);
}

/* navigation icon for Mobile Layout */
.navicon {
    cursor: pointer;
    height: 60px;
    padding: 28px 15px;
    position: absolute;
    top: 0;
    right: 15px;

    -webkit-user-select: none; /* Chrome all / Safari all */
    -moz-user-select: none; /* Firefox all */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Likely future */
}

/* nav icon의 내부 막대 */
.navicon-bar {
    background-color: #333;
    display: block;
    position: relative;
    /* navigation icon animation */
    transition: background-color .2s ease-out;
    width: 20px;
    height: 3px;
}

.navicon-bar::before,
.navicon-bar::after {
    background-color: #333;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    /* navigation icon animation */
    transition: all .2s ease-out;
    width: 100%;
}

.navicon-bar::before {
    top: -7px;
}

.navicon-bar::after {
    top: 7px;
}

.nav-toggle {
    display: none;
}

.navicon {
    display: none;
}

/* toggle navigation icon */
.nav-toggle:checked ~ .navicon > .navicon-bar {
    background: transparent;
}

.nav-toggle:checked ~ .navicon > .navicon-bar::before {
    transform: rotate(45deg);
    top: 0;
}

.nav-toggle:checked ~ .navicon > .navicon-bar::after {
    transform: rotate(-45deg);
    top: 0;
}

.DesFooter {
    text-align: center;
    color: #ccc;
    font-size: 20px;
}


section {
    overflow: hidden;
    padding: 7% 5% 5% 6%;
    width: 100%;
    height: 80%;
    background-color: white;
    text-align: center;
}
section > a{
    color:black;
}
section >a> p >strong{
    color:orange;
}
section >a> p{
    font-size: 30px;
}
section >a >div{
    margin:10% 0 auto;
}
section >a>div >img{
    width:15%;
    height: 30%;
    border-radius: 80px;
    margin-bottom: 30px;
}
footer {
    width: 100%;
    height: 100px;
    background-color: white;
}

@media screen and (max-width: 1480px) {
    #wrap {
        /* margin-top = header height */
        margin-top: 70px;
    }

    article {
        margin-top: 0;
    }

    header {
        height: 80px;
        text-align: center;
    }

    section {
        padding-right: 6em;
        padding-top: 8em;
    }
    section >a> p{
        font-size: 30px;
    }
    section >a >div >img{
        width:13%;
        height: 20%;
        border-radius: 80px;
        margin-bottom: 30px;
    }
    section >a > div{
        margin: 15% 0 auto;
    }

}


@media screen and (max-width: 1180px) {
    #wrap {
        /* margin-top = header height */
        margin-top: 120px;
    }

    .Inside_list {
        font-size: 12px;

    }
    .logo > img{
        margin-top:8px;
    }
    article {
        height: auto;
        top: 50px;
    }

    header {
        height: 60px;
        text-align: center;
    }

    nav {
        float: none;
    }

    section {
        padding-right: 4em;
        padding-top: 3em;
    }
    section >a> p{
        font-size: 30px;
    }
    section >a >div >img{
        width:20%;
        height: 20%;
        border-radius: 80px;
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 880px) {
    #wrap {
        /* margin-top = header height */
        margin-top: 120px;
    }
    .logo >img{
        margin-top:8px;
    }
    section >a > p{
        font-size: 30px;
    }
    section > a >div >img{
        width:13%;
        height: 35%;
        border-radius: 80px;
        margin-bottom: 30px;
    }
    section > a > div{
        margin: 4% 0 auto;
    }
    header {
        height: 60px;
        text-align: center;
    }

    .nav-items{
        margin-top:4px;
        float: none;
    }

    section {
        padding-right: 4em;
        padding-top: 2em;
    }

}


/* 화면 너비 0 ~ 768px */
@media screen and (max-width: 680px) {
    #wrap {
        /* margin-top = header height */
        margin-top: 120px;
    }
    .logo >img{
        margin-top:4px;
    }
    section > a > p{
        font-size: 30px;
    }
    section > a >div >img{
        width:13%;
        height: 20%;
        border-radius: 80px;
        margin-bottom: 30px;
    }
    section > a > div{
        margin: 15% 0 auto;
    }
    header {
        height: 60px;
        text-align: center;
    }

    nav {
        float: none;
    }

    section {
        padding-right: 4em;
        padding-top: 0;
    }

}

/* 화면 너비 0 ~ 480px */
@media screen and (max-width: 480px) {
    #wrap {
        /* margin-top = header height */
        margin-top: 60px;
    }

    .logo > img {
        margin-top: 4px;
    }
    section > a > p{
        font-size: 30px;
    }
    section > a >div >img{
        width:28%;
        height: 20%;
        border-radius: 80px;
        margin-bottom: 30px;
    }
    section > a > div{
        margin: 15% 0 auto;
    }
    .DesFooter {
        height: 60px;
    }

    header {
        height: 60px;
    }

    .nav-items {
        display: none;
    }

    .navicon {
        display: block;
    }

    section {
        padding-top: 5em;
    }

    .nav-items {
        display: none;
    }

    .navicon {
        display: block;
    }

    section {
        padding: 20% 5% 10% 2%;
        float: none;
    }

    .nav-toggle:checked ~ .nav-items {
        display: block;
        width: 100%;
        background-color: #fff;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(0, 0, 0, 0.05);
        margin-left: 25%;
        margin-top: 45%;
    }

    .nav-items > li {
        display: block;
    }

    .nav-items > li > a {
        line-height: 50px;
    }
}